<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IStationManagment" />
        <binding name="BasicHttpBinding_IReservationManagment" />
        <binding name="BasicHttpBinding_IConnectionManagment" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/S/Station" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IStationManagment" contract="StationService.IStationManagment"
        name="BasicHttpBinding_IStationManagment" />
      <endpoint address="http://localhost:8080/R/Reservation" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IReservationManagment"
        contract="ReservationService.IReservationManagment" name="BasicHttpBinding_IReservationManagment" />
      <endpoint address="http://localhost:8080/C/Connection" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IConnectionManagment"
        contract="ConnectionService.IConnectionManagment" name="BasicHttpBinding_IConnectionManagment" />
    </client>
  </system.serviceModel>
</configuration>